*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(34, 34, 34);
}

.container {
  color: rgba(255, 255, 255, 0.349);
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-clip: text;
  font-size: 1rem;
  font-weight: thin;
  text-transform: uppercase;
  font-family: sans-serif;
  text-wrap: wrap;
  -wekbit-background-clip: text;
  position: relative;
}

.preview {
  color: white;
  height: 200px;
  width: 300px;
  top: 0;
  right: 0;
  position: absolute;
  background-color: black;
  text-align: center;
}
